@import 'normalize';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}

html {
    background-color: rgb(255, 255, 255, 0.3);
    
    font-size: 16px;
}

html,
body {
    word-break: keep-all;
    
    font-size: 16px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-style: normal;
    font-weight: 400;
}

main{
    position: relative;
    margin-top: 9vh;
    padding: 0 1.5rem 0;
}

h1 {    
    margin: 1rem 0 .5rem;
    
    font-size: 1rem;
    font-weight:500;
}

a{
    color:inherit;
    text-decoration:none;
}

ol, ul, li {
    border: 0;
    list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button{
    all:unset;

    cursor:pointer
}

#app{
    max-width: 767px;
    margin: 0 auto 0;

    line-height: 1.33;     
}

@font-face {
    font-family: 'NanumBarunGothic';

    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
