@import 'normalize';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    min-height: 100%;
    word-break: keep-all;
    
    background: white;
    
    font-size: 16px;
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
}

body {
    max-width: 767px;
    margin: 1rem auto 0;

    line-height: 1.33;        
}

main{
    padding: .5rem;
}

h1 {    
    margin: 1rem 0 .5rem;
    
    font-size: 1rem;
    font-weight:500;
}

a{
    color:inherit;
    text-decoration:none;
}

ol, ul, li {
    border: 0;
    list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button{
    all:unset;

    cursor:pointer
}

#app {
    overflow-x: hidden;
}

@font-face {
    font-family: 'NanumBarunGothic';

    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
